<script lang="ts" setup>
import { useProductStore } from "@/stores/product";
import { ref } from "vue";
const productStore = useProductStore();

function deleteProduct() {
  productStore.deleteDialog = false;
  productStore.deleteProduct();
}
</script>

<template>
  <v-dialog v-model="productStore.deleteDialog" persistent width="auto">
    <v-card>
      <v-card-title class="text-h8">
        Are you sure for delete this product?
      </v-card-title>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="green-darken-1"
          variant="text"
          @click="productStore.deleteDialog = false"
        >
          No
        </v-btn>
        <v-btn color="green-darken-1" variant="text" @click="deleteProduct()">
          Yes
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
