<script lang="ts" setup>
import { useProductStore } from "@/stores/product";
import { onMounted } from "vue";
import ProductDialog from "./ProductDialog.vue";
import ProductDeleteDialog from "./ProductDeleteDialog.vue";

const productStore = useProductStore();

onMounted(async () => {
  await productStore.getProducts();
});
</script>

<template>
  <ProductDialog></ProductDialog>
  <ProductDeleteDialog></ProductDeleteDialog>
  <v-btn class="ma-5" color="pink" @Click="productStore.dialog = true"
    >Add new</v-btn
  >
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of productStore.products" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>
          <v-btn
            class="mr-5"
            color="secondary"
            @click="productStore.editProduct(item)"
            ><v-icon icon="mdi-pencil"></v-icon></v-btn
          ><v-btn
            color="error"
            @click="productStore.prepairDeleteProduct(item.id!)"
            ><v-icon icon="mdi-delete"></v-icon
          ></v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
